<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collection</title>
    <link href="style.css" rel="stylesheet" />
    <script defer src="main.js"></script>
  </head>

  <body>
    <section class="imageGrid">
      <a href="/borough/Bronx"><img src="bronx.jpg" /></a>
      <a href="/borough/Brooklyn"><img src="brooklyn.jpg" /></a>
      <a href="/borough/Manhattan"><img src="manhattan.jpg" /></a>
      <a href="/borough/Staten%20Island"><img src="statenIsland.jpg" /></a>
      <a href="/borough/Queens"><img src="queens.jpg" /></a>
      <a href="/borough/Other"><img src="other.jpg" /></a>
    </section>
  </body>
</html>
